.footer {
  margin-top: 68px;

  .hr {
      margin: 30px 0;
  }

  .waterloo {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #272c37;
  }

  .address {
      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 24px;
      color: #727272;
  }

  .aboutinform {
      background-color: #f2f6ff;
      padding: 100px 50px;

      p {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 42px;
          color: #444953;
      }

      span {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 42px;
          margin-left: 20px;
          width: 100%;
          color: #444953;
      }

      .contact {
          margin-top: 30px !important;
      }
  }

  .background {
      border-radius: 10px;
      background-size: cover;
      background-color: #0042cc;
      background-repeat: no-repeat;

      .footer-email {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;

          padding-top: 87px;
          padding-bottom: 87px;

          h3 {
              font-family: Poppins, Arial, Helvetica, sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 40px;
              color: #ffffff;
              margin-bottom: 14px;
          }

          p {
              font-family: Poppins, Arial, Helvetica, sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: #ffffff;
              margin-bottom: 26px;
          }

          .es {
              display: flex;
              align-items: center;

              input {
                  height: 60px;
                  width: 321px;
                  padding: 15px 46px;

                  font-family: Poppins, Arial, Helvetica, sans-serif;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 30px;
                  color: #828282;

                  outline: none;
                  border: none;
                  background: #ffffff;
                  border-radius: 10px 0 0 10px;
              }

              button {
                  width: 155px;
                  height: 60px;

                  font-family: Poppins, Arial, Helvetica, sans-serif;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 22px;
                  text-align: center;
                  color: #ffffff;

                  outline: none;
                  border: none;
                  background: #34bc94;
                  border-radius: 0 10px 10px 0;
              }
          }
      }

      .footer-image {
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;

          img {
              width: 100%;
              height: 254.47px;
              object-fit: contain;
          }
      }
  }

  .polygon {
      margin-top: -10px;
      margin-bottom: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
          width: 153px;
          height: 50px;
      }
  }

  .list {
      li {
          display: flex;
          list-style: none;
          align-items: end;
          margin-bottom: 15px;

          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;

          a img {
              object-fit: contain;
          }

          div {
              height: 28px;
              width: 28px;
              margin-right: 18px;

              display: flex;
              align-items: center;
              justify-content: center;

              border-radius: 50%;
          }
      }

      .company {
   
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 12px;
          letter-spacing: 1px;
          color: #272c37;
      }
  }

  .copyright {
      display: flex;
      align-items: center;
      justify-content: center;

      font-family: Poppins, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #727272;


      a {
          font-family: Poppins, Arial, Helvetica, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 22px;
          text-align: right;
          color: #727272;
          margin-left: 35px;
      }

      .links {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 766px) {
    .copyrgiht{
        text-align: center;
    }
}
@media (max-width: 575px) {
.copyrgiht{
    text-align: center;
    font-family: 'Hind';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

}
@media (max-width: 767px) {

}
